<form (ngSubmit)="consultar(forma)" #forma='ngForm'>
  <div class="form-group">
    <label for="exampleFormControlSelect1"><h2>Seleccione el indicador</h2></label>
    <select ngModel class="form-control"  name="indicadores">
      <option  *ngFor="let ind of indicadores" [value]="ind.codigo">{{ ind.codigo }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Consultar</button>
</form>
<app-spinner *ngIf="spinner"></app-spinner>
<app-table-indicador *ngIf="indicador && indicadorSerie && !spinner" [ind]="indicador" [indSerie]="indicadorSerie"></app-table-indicador>
